{% for server in mcp_servers %}
{% if not server.internal | default(false) %}
http://{{ server.hostname }} {
{% if server.caddy_config is defined %}
{{ server.caddy_config | indent(4, true) }}
{% else %}
    reverse_proxy localhost:{{ server.port }}
{% endif %}
}
{% endif %}
{% endfor %}
