services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - TZ=America/Detriot
    volumes:
      - /config/plex:/config
      - /njord:/media
    restart: unless-stopp